/* Estilos personalizados (opcional) */
body {
    font-family: 'Arial', sans-serif;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}
.carrito-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 300px;
    padding: 10px;
}

.submenu:hover .carrito-dropdown {
    display: block;
}

#img-carrito {
    cursor: pointer;
}
